.description {
  margin: -8px 0 16px;
  padding: 0 24px;
  color: var(--text-secondary);
  font-size: 15px;
}

mat-dialog-content {
  min-width: 300px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

mat-form-field {
  width: 100%;
}
