.subtitle {
  margin: -12px 0 16px;
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
}

mat-dialog-content {
  min-width: 300px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

mat-form-field {
  width: 100%;
}
